/* UNIVERSAL STYLES */

html {
  /*font-family: "Arial";*/
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
}

.main-site {
  max-width: 1100px;
}

.lg-image-container {
  width: 60%;
  padding: 24px 24px;
}

.lg-image-container img {
  max-width: 100%;
  display: block;
  /*object-fit: cover;*/
}

.sidebar {
  max-width: 40%;
  border-left: 0.5px solid lightgrey;
}

.sidebar-item {
  display: flex;
}

.sidebar-image {
  max-width: 35%;
  height: auto;
  margin: 16px;
}

.sidebar-image img {
  max-width: 100%;
  display: block;
}

.sidebar-content {
  max-width: 100%;
  display: block;
}

.sidebar-link {
  text-decoration: none;
}


/* HEADER */
header {
  display: flex;
  height: 64px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 24px;
  height: 32px;
}

.logo p {
  text-transform: uppercase;
  font-weight: bold;
}

.logo_callout {
  color: gray;
  font-weight: lighter;
}

nav ul {
  display: flex;
  padding-right: 24px;
}

nav li {
  list-style: none;
  margin-left: 16px;
}

#mobile_header {
  display: none;
}

@media only screen and (max-width: 685px) {
  header p {
    display: none;
  }

  nav {
    display: none;
  }

  #mobile_header {
    display: flex;
    justify-content: space-between;
  }

}

/* MAIN BANNER SECTION -- fix alignment of button*/
.main-banner {
  display: flex;
  background-color: lightgrey;
  justify-content: space-between;
  align-items: center;
}

.main-banner_content {
  text-align: left;
  align-items: center;
  color: Dimgrey;
  padding-right: 24px;
}

#button {
  background-color: Dimgrey;
  width: 275px;
  padding: 8px;
}
#button a {
  text-align: center;
  text-decoration: none;
  color: white;

}

/* INFORMATION SECTION -- Fix main image size*/
.information {
  display: flex;
}

.information-main {
  width: 60%;
  display: block;
  /*padding: 32px 24px;*/
}

.information-main-content {
  padding: 0 32px 24px 24px;
  max-width: 100%;
}

#information-image {
  width: 90%;
}

.sidebar-link {
  padding-top: 8px;
}

/* COURSES SECTION */
.courses-container {
  max-width: 1100px;
  margin: 0 auto;
  align-content: center;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 0 72px;
}

.courses-container h2 {
  padding-top: 32px;
  text-align: center;
}

.courses {
  display: flex;
  padding: 32px 72px;
  flex-wrap: wrap;
  flex-direction: row;
}

.course {
  width: 250px;
  margin-right: 16px;
}

.course-image-container img {
  height: auto;
  max-width: 250px;
  display: block;
}

.course-content {
  max-width: 250px;
  background-color: white;
  padding: 8px 0 24px 16px;
}

.course .category {
  text-transform: uppercase;
  padding: 8px 0;
}


/* THESIS SECTION -- Fix this section*/
.Thesis-container {
  max-width: 1100px;
}

.thesis-content {
  display: flex;
  text-align: left;
}

.Thesis-container h2 {
  display: block;
  padding: 32px 0;
  text-align: center;
}

.thesis-main {
  width: 60%;
  text-align: left;
  display: block;
  bottom: 25px;
}

.thesis-main-content {
  padding: 0px 24px 32px 24px;
  max-width: 100%;
  text-align: left;
  display: block;

}

.thesis-main-content h2 {
  text-align: left;
  display: block;
}

video {
  height: auto;
  width: 150%;
  display: block;
  position: relative;
  bottom: 30px;
}

#fisma {
  background-color: lightgrey;
}

/* FOOTER STYLES HERE */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid lightgrey;
}

.footer_links {
  text-align: right;
}

footer a {
  padding-right: 25px;
  text-decoration: none;
}
